@model TimeBox.Web.ViewModels.PlannedTask.PlannedTasksListViewModel
@{
    this.ViewData["Title"] = "Публикации";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@this.ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/images/design/schedule.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>График</h1>
                        <span class="subheading">Започни деня си с чаша кафе и преглед на задачите</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="overflow-auto">
            
         @if(Model.PlannedTasks.Any(x => x.Date < DateTime.Now))
            {

                <h5 class="card-title alert-danger">
                    Има неизпълнени задачи преди @DateTime.Now.Date.ToString("dd/MM/yyyy"): 
                    @foreach (var lateTask in Model.PlannedTasks.Where(x => x.Date < DateTime.Now))
                    {
                    <li>- @lateTask.Title</li>
                    }
                </h5>
            }

            @foreach (var plannedTask in this.Model.PlannedTasks)
            {
                <div class="card col-3 featured-services-grid float-left" style="width: auto">
                    <a asp-action="ById" asp-route-id="@plannedTask.Id">
                        <div class="card-body">
                            @if (plannedTask.Title.Length > 10)
                            {
                                <h5 class="card-title">
                                    @plannedTask.Title ...
                                </h5>
                            }
                            else
                            {
                                <h5 class="card-title">
                                    @plannedTask.Title
                                </h5>
                            }

                            <p class="card-text">Дата: @plannedTask.Date.ToString("dd/MM/yyyy")</p>
                            <p class="card-text">Час: @plannedTask.StartTime.ToShortTimeString()</p>
                            <p />
                            <div>
                                <a class="btn btn-primary" a asp-action="ById" asp-route-id="@plannedTask.Id">Детайли</a>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
</body>