@model TimeBox.Web.ViewModels.BlogPost.BlogPostsListViewModel
@{
    this.ViewData["Title"] = "Публикации";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@this.ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/images/design/about-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Вдъхновение</h1>
                        <span class="subheading">Идеи за ефективно планиране</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    @foreach (var blogPost in this.Model.BlogPosts)
    {

        <div class="post-preview">
            <a asp-action="ById" asp-route-id="@blogPost.Id">
                <h2 class="post-title">
                    @blogPost.Title
                </h2>
                <h3 class="post-subtitle">
                    @blogPost.BlogTextPreview...
                </h3>
            </a>
            <p class="post-meta">
                Публикувано от
                <a href="#">@blogPost.CreatedByUserName</a>
                на @blogPost.CreatedOn.ToString("dd/MM/yyyy")
            </p>
        </div>
        <hr>

    }

</body>