@model TimeBox.Web.ViewModels.BlogPost.BlogPostDetailsViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@this.ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/images/blogposts/@Model.Image.Id.@Model.Image.Extension')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <span class="meta">
                            Публикувано от
                            <a href="#">@Model.CreatedByUser.Name</a>
                            на @Model.CreatedOn.ToString("dd/MM/yyyy")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>@Model.BlogText</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <!-- See all -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" asp-area="" asp-controller="BlogPosts" asp-action="All">Виж всички публикации &rarr;</a>
    </div>

</body>
